{{- if .Site.Params.ShowBreadCrumbs -}}
<nav class="breadcrumbs">
    {{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" -}}
    
    {{- if  (in .RelPermalink "/archives/") -}}
        <a href="{{ "/archives/" | relLangURL }}">Archive</a>
    {{- else if (in .RelPermalink "/tags/") -}}
        <a href="{{ "/tags/" | relLangURL }}">Tags</a>
    {{- else -}}
        <a href="{{ .Site.BaseURL | relLangURL }}">Home</a>
    {{- end -}}

    {{- if .Params.categories -}}
        {{- range (.GetTerms "categories") -}}
            <span class="separator">&nbsp;»&nbsp;</span>
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{- end -}}
    {{- end -}}
</nav>
{{- end -}}
